{% load static %}
<nav class="w-full flex justify-between items-center py-3 px-4 fixed z-50 top-0 left-0">

    <!-- Comentário -->
    <div class="w-6/12">
        <a href="#">
            <img class="w-42" src="{% static 'images/logo_main.png' %}" alt="Logo BFDFlix">        
        </a>
    </div>    

    <div class="w-6/12 flex flex-nowrap justify-end">
        <div class="mr-2">
            <form>
                <input type="text" class="bg-white py-1 px-2 rounded-md text-black" placeholder="Pesquisar...">
            </form>
        </div>
        <div class="mr-2">
            <a href="#" type="button" class="bg-red-600 text-white py-1 px-3 rounded-md transition duration-300 hover:bg-red-700">
                Login
            </a>
        </div>
        <div class="mr-2">
            <a href="#" type="button" class="bg-red-600 text-white py-1 px-3 rounded-md transition duration-300 hover:bg-red-700">
                Editar Perfil
            </a>
        </div>
    </div>
</nav>